#bg{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
body{
    padding: 0px;
    margin: 0px;
}
#tool{
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 3px;
}
#tool_nam{
    flex:3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#btn{
    flex: 1;
    text-align: center;
}

#con-bt:hover{
    background-color:blue;
    color: aliceblue;
}

#logo{
    width: 50px;
    height: auto;
    margin-right: 8px;
}

#home{
    width: 100%;
    height: 475px;
    background-color: rgb(224, 224, 224);
    display: flex;
    /* flex-direction: column; */
}
#left{
    /* background-color:purple; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#right{
    /* background-color: green; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}
/* #in{
    padding-bottom: 50px;
} */
#cap{
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 50px;

}

#pic{
    
    width: 58%;  
    /* height: 300px;  */
    border-radius: 50%;  
    object-fit: cover;    
    margin-bottom: 30px;
}
#abo{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 14px;
    border: 1.5px solid blue;
    background-color: aliceblue;
    font-weight: 400;
    font-size: 15px; 
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);  
    transition: box-shadow 0.3s ease; 
}
#abo:hover{
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); 
}
#social{
    /* height: 50px; */
    width: 80%;
    /* background-color: blue; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
#insta,#whats{
    height: 35px;
    width: 35px;
    margin-left: 8px;
    margin-right: 8px;

}

#about{
    width:  100%;
    /* height: 650px; */
    /* background-color: yellow; */

}
#abo-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#abo-left {
    flex: 1;
    padding: 5px;
    padding-top: 10px;
    /* background-color: brown; */
    /* justify-content: center; */
}

#abo-right {
    flex: 1;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    padding-bottom: 20px;
    /* padding: 20px; */
    padding-top: 10px;
    align-items: center;




}


#abo-pic{
    width: 55%;  
    /* height: 300px;  */
    border-radius: 25%;  
    object-fit: cover; 
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
   
}
#abo-cap{
    font-size: 29px;
    font-weight:bold ;
    /* padding-bottom: 0px; */
    margin-bottom: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 550; 
    padding-bottom: 5px;

}
#abo-cap2{
    margin-top: 5px;
    font-size: large;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 19px;

    
}
#abo-cap3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    margin-top: 30px;
    /* margin-left: 0px; */
    width: 100%;
    
}
td {
    padding: 2px;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
}
td label {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    color: rgb(26, 126, 156);
}
#abo-inside{
    padding:5px;
    margin-bottom:5px;
    
}
/* #abo-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */
#me {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #333;
}
#skill-hed {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #333;
    padding-top: 20px;

       
}

#skill{
    width: 100%;
    background: linear-gradient(to bottom, rgb(224, 224, 224), rgb(240, 248, 255), white);
}



.skill-it{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color:rgb(211, 208, 208);
    border-radius:15px ;
    padding: 15px;
    margin: 15px;
    flex-wrap: wrap;

    
}
.skill-img{
    width: 60px;

}
.skill-txt{
    font-size: 16px;
    font-weight: 450;
    margin: 4px;
    color:rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
#education{
    width: 100%;
    height: 600px;
    background-color:rgb(218, 218, 213);
}
#edu-hed{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #333;
    margin-top: 25px;
    padding-top: 20px;

}
.edu-in{
    max-width: 650px;
    background-color: white;
    /* display: flex; */
    margin-left: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;

    
}
.edu-in:hover{
    transform: translateY(-5px); 
}
.edu-nam{
    font-size: 1.5rem;
    color: #1d3b8b;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;

}
.nam{
    font-size: 17px;
    color: #666;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.num,.status, .pip{
    color: #1b5e20;
    font-size: 20px;
    font-weight: 550;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;

}
#foot{
    width: 100%;
    background-color: rgb(0, 1, 43);
    padding: 25px 0;
    display: flex;
    justify-content: center;

}
#foot-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    flex-direction: row;
    /* gap: 20px;  */
}

.con-hed, .li-hed {
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin-top: 0px;
}
.fa-phone ,.fa-envelope ,.fa-map-marker-alt{
    color: rgb(255, 174, 0);
    margin-right: 8px;
    
}

.contex{
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(204, 204, 204);
    font-family: 'Open Sans', sans-serif;


    
}
.lis1, .lis2, .lis3, .lis4 {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 17px;
    transition: transform 0.3s ease;
}
ul {
    list-style: none; 
    padding-left: 15px;
}
ul li::before {
    content: '→';
    width: 1em;
    margin-right: 10px;
}
.lis1:hover{
    color: rgb(255, 174, 0) ;
    transform: translateY(-2px); 
}
.lis2:hover{
    color: rgb(255, 174, 0) ;
    transform: translateY(-2px); 
}

.lis3:hover{
    color: rgb(255, 174, 0) ;
    transform: translateY(-3px); 
}

.lis4:hover{
    color: rgb(255, 174, 0) ;
    transform: translateY(-2px); 
}
.li-hed{
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin-left: 25px;
    margin-top: 0px;


}
#tan{
    color: rgb(204, 204, 204);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;

}
#out{
    margin-left: 15px;
}


#out, #link, #co-info {
    width: 333px;
}
@media (max-width:480px){
    #tool_nam{
        padding-left: 8px;
    }
    #home{
        flex-direction: column;
    }
    #left{
        width: 100%;
        height: 50%;
    }
    #right{
        /* padding-top:8px ; */
        width: 100%;
        height: 50%;
    }
    #cap {
        font-size: 25px;
        font-weight: bold;
        margin-top: 0px;  /* Already set to 0 */
        margin-bottom: 5px; /* Reduce the bottom margin */
    }
    
    #cap2 {
        font-size: 15px;
        margin-top: 0px; /* Remove top margin */
    }
    #abo-in{
        flex-direction: column;
    }
    #abo-left{
        width:100%;
        height: 50%;
    }
    #abo-right{
        width:100%;
        height: 50%;
    }
    #foot-div {
        width: 90%;
        /* flex-direction: column; Stack the items vertically */
        align-items: center;
    }

    #out, #link, #co-info {
        width: 100%; /* Make each section take full width on small screens */
        text-align: center;
    }

    .con-hed, .li-hed {
        font-size: 22px; /* Adjust font size for smaller screens */
    }

    .lis1, .lis2, .lis3, .lis4 {
        font-size: 15px;
    }
    #name{
        font-weight: 400;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 0px;
    
    }
    #con-bt{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 14px;
        border: 1.5px solid blue;
        background-color: aliceblue;
        font-weight: 400;
        font-size: 10px;
    }
    #skill-in{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 20px;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: left;
        padding: 12px;
        background-color:rgb(240, 240, 245);
        max-width: 700px;
        margin-left: 375px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 8px 26px rgba(0, 0, 0, 0.1); 
        border-radius: 10px;
    
    }
    
}

@media (min-width:481px){
    #tool_nam{
        padding-left: 30px;
    }
    #home{
        flex-direction: row;
    }
    #left{
        height: 100%;
        width: 50%;
    }
    #right{
        height: 100%;
        width: 50%;
    }
    #cap {
        font-size: 40px;
        font-weight: bold;
        margin-top: 1px;  /* Already set to 0 */
        margin-bottom: 5px; /* Reduce the bottom margin */
    }
    
    #cap2 {
        font-size: 25px;
        margin-top: 2.5px; /* Remove top margin */
    }
    #abo-in{
        flex-direction: row;
    }
    #abo-left{
        width:50%;
        height: 100%;
    }
    #abo-rigth{
        width:50%;
        height: 100%;
    }
    .con-hed, .li-hed {
        font-size: 20px; /* Further reduce font size on very small screens */
    }

    .lis1, .lis2, .lis3, .lis4 {
        font-size: 14px;
    }

    #foot {
        padding: 15px 0; /* Reduce padding */
    }

    #foot-div {
        width: 95%; /* Allow more space for content */
    }
    #name{
        font-weight: 400;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
    
    }
    #con-bt{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 14px;
        border: 1.5px solid blue;
        background-color: aliceblue;
        font-weight: 400;
        font-size: 15px;
    }
    #skill-in{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 5px;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: left;
        padding: 12px;
        background-color:rgb(240, 240, 245);
        max-width: 700px;
        margin-left: 375px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 8px 26px rgba(0, 0, 0, 0.1); 
        border-radius: 10px;
    
    }
}


